name: Generate ASCII Artwork

on:
    push

jobs:
  build_job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: List Repo Files
      run: ls -ltra

    - name: Executing Shell Script
      run: |
        chmod +x script.sh
        ./script.sh

    - name: Sleep for 30 Seconds
      run: sleep 30

  test_job:
    runs-on: ubuntu-latest
    steps:
    - name: Sleep for 10 seconds
      run: sleep 10

    - name: Test file Exists
      run: grep -i "dragon" dragon.txt

  deploy_job:
    runs-on: ubuntu-latest
    steps:
    - name: Read file
      run: cat dragon.txt

    - name: Deploy
      run: echo Deploying ... .. .
